.sc-message {
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--text {
  padding: 17px 20px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  width: calc(100% - 90px);
}

.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #4e8cff;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}

.sc-message--content.received .sc-message--text {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
}

.sc-message--emoji {
  font-size: 40px;
}

.sc-message--file {
  background: white;
  border: solid 1px #CCCDD1;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  text-decoration: none;
}

.sc-message--file p {
  margin: 0px 0px 0px 10px;
  color: rgba(86, 88, 103, 0.6);
}

.sc-message--file .sc-user-input--file-icon:hover path {
  fill: rgba(86, 88, 103, 0.3);
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}

.sc-chat-window {
  height: calc(100% - 180px);
}

.sc-message--content.sent .sc-message--avatar {
  /*display: block;*/
}

.sc-message--avatar {
  min-width: 35px;
  min-height: 35px;
}

.sc-message--content.sent .sc-message--text {
  border-radius: 15px;
  /*padding: 12px 20px;*/
  padding: 12px 9px 5px 20px;
}

.sc-message--time {
  /*font-size: 20px;*/
  color: #DCDCDC;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 8px 2px 8px;
  margin-top: 2px;
  float: right;
}

.talk-text {
  padding: 8px 8px 2px 8px;
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 2px;
}

.talk-text p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  /*margin-bottom: 2px;*/
  color: white;
}

.talk-bubble {
  /*margin: 40px;*/
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  background-color: #4e8cff;
}

.round {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #ECEFF1 transparent transparent #ECEFF1;
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -12px;
  top: 28px;
  bottom: auto;
  border: 8px solid;
  border-color: #ECEFF1 transparent transparent #ECEFF1;
}

.tri-right.right-in {
  background-color: #ECEFF1;
}

.tri-right.right-in p {
  color: #0d0925;
}

.tri-right.right-in small {
  color: #909090;
}

.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}

.tri-right.left-in {
  background-color: #73ABFF;
  color: white;
}

.tri-right.left-in small {
  color: white;
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  right: auto;
  top: 28px;
  bottom: auto;
  border: 8px solid;
  border-color: #73ABFF #73ABFF transparent transparent;
}

.avatar-tooltip {
  position: relative;
  display: inline-block;
}

.avatar-tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 999999999999999999999999999999999 !important;
  bottom: 135%;
  left: 50%;
  margin-left: -40px;
}

.avatar-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 35%;

  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.avatar-tooltip:hover .tooltiptext {
  visibility: visible;
}